body {
    background-color: #fff;
   
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ff6600;
   
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.8rem;
       
    }

    .turma {
        font-size: 40px;
       
    }
}

.accordion {
    background: linear-gradient(to bottom, #FFA500, #FF8C00);
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.panel {
    display: none;
    padding: 10px;
    overflow: hidden;
    transition: max-height 1.5s ease-in-out;
    max-height: 0;

    background-color: #ffffff;
    width: 89%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.accordion.active + .panel {
    max-height: 200px;
}

.botao-verde {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(to right, #4CAF50, #45a049);
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: background 0.3s ease;
  }
  
  .botao-verde:hover {
    background: linear-gradient(to right, #45a049, #4CAF50);
  }