:root {
    --grey: #272829;
    --white: #F0F0F0;
    --orange: #F94C10;
    --black: #000;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--black);
    color: var(--white);
    font-family: 'Roboto', Arial, sans-serif;
}

h1 {
    font-size: 2.1rem;
    color: var(--white);
}

#p-title {
    color: var(--white);
}

#container {
    background-color: var(--orange);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#entrar {
    margin-top: 20px;
    display: inline-block;
    padding: 15px 30px;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

#entrar:hover {
    background-color: var(--grey);
    border-color: var(--grey);
}

.sobre {
    margin-top: 20px;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
}

p {
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
